[submodule "plugins/libdropbox"]
	path = plugins/libdropbox
	url = https://github.com/MobiusHorizons/libdropbox.git
[submodule "plugins/libgdrive"]
	path = plugins/libgdrive
	url = https://github.com/MobiusHorizons/libgdrive.git
